.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: var(--spacing-5);
  padding: var(--spacing-4);

  > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  h1 {
    font: var(--h1);
    margin: 0;
  }

  h3 {
    font: var(--h5);
    margin: 0;
    color: var(--color-black-70);
  }

  button {
    justify-content: center;
  }
}
