:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: "Futura PT", Futura, sans-serif;
  --font-alt: "Work Sans", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;

  // COLORS
  --color-white-900: #fff;
  --color-gradient: linear-gradient(90deg, #ffe285 0%, #e6cb78 100%);

  // Black
  @for $i from 1 through 10 {
    --color-black-#{$i * 10}: rgba(#000, $i / 100);
  }

  // True Grey
  --color-true-grey-900: #171717;
  --color-true-grey-800: #262626;
  --color-true-grey-700: #404040;
  --color-true-grey-600: #525252;
  --color-true-grey-500: #737373;
  --color-true-grey-400: #a3a3a3;
  --color-true-grey-300: #d4d4d4;
  --color-true-grey-200: #e5e5e5;
  --color-true-grey-100: #f5f5f5;
  --color-true-grey-50: #fafafa;

  // Primary
  --color--primary-900: #9b660a;
  --color--primary-800: #e3960f;
  --color--primary-700: #f1ac34;
  --color--primary-600: #f3b64c;
  --color--primary-500: #f6c878;
  --color--primary-400: #f7ce87;
  --color--primary-300: #f9ddab;
  --color--primary-200: #fbe7c3;
  --color--primary-100: #fdf0db;
  --color--primary-50: #fefaf3;

  // Green
  --color-green-900: #63685a;
  --color-green-800: #858b77;
  --color-green-700: #a6ad95;
  --color-green-600: #c7d0b3;
  --color-green-500: #dde7c7;
  --color-green-400: #e6edd5;
  --color-green-300: #ecf2e0;
  --color-green-200: #f1f5e9;
  --color-green-100: #f7f9f1;
  --color-green-50: #fcfdf9;

  // Blue
  --color-blue-900: #62667;
  --color-blue-800: #838889;
  --color-blue-700: #a4aaac;
  --color-blue-600: #c4ccce;
  --color-blue-500: #dae3e5;
  --color-blue-400: #e3eaec;
  --color-blue-300: #ebf0f1;
  --color-blue-200: #f0f4f5;
  --color-blue-100: #f6f8f9;
  --color-blue-50: #fbfcfc;

  // typography
  --h1: 500 32px/40px var(--font);
  --h2: 500 24px/36px var(--font);
  --h3: 500 20px/32px var(--font);
  --h4: 400 20px/26px var(--font);
  --h5: 500 16px/20px var(--font);

  // labels
  --label: 400 16px/20px var(--font);
  --label-small: 400 14px/18px var(--font);

  // body
  --body-large: 400 18px/24px var(--font-alt);
  --body: 400 16px/24px var(--font-alt);
  --body-small: 400 14px/22px var(--font-alt);
}
