.verticalNav {
  width: 200px;
  height: 100vh;
  border-right: 1px solid var(--color-true-grey-200);

  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-white-900);
    z-index: 100;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-right: none;
    transform: translateX(-10%);
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease-out;
    &.isOpen {
      transform: translateX(0);
      pointer-events: auto;
      opacity: 1;
    }
  }

  &List {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &ListHeader {
    padding: var(--spacing-3);
    font: var(--label);
    border-bottom: 1px solid var(--color-true-grey-200);
    color: var(--color-primary-800);
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      line-height: 56px;
      padding: 0 var(--spacing-3);
      min-height: 56px;
    }
  }

  &ListItem {
    padding: var(--spacing-3);
    font: var(--body-small);
    cursor: pointer;
    border-bottom: 1px solid var(--color-true-grey-200);

    &:hover {
      background-color: var(--color-true-grey-50);
    }
  }

  &ListItemLast {
    padding: var(--spacing-3);
    font: var(--body-small);
    cursor: pointer;
    margin-top: auto;
    justify-self: flex-end;
    border-bottom: 1px solid var(--color-true-grey-200);

    &:hover {
      background-color: var(--color-true-grey-50);
    }
  }
}

.hamburger {
  position: absolute;
  top: var(--spacing-4);
  left: var(--spacing-3);
}

.verticalNavOverlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.75);
  display: none;
  @media screen and (max-width: 768px) {
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0.15s linear;
  }

  &.isOpen {
    pointer-events: auto;
    opacity: 1;
  }
}
