.main {
  flex: 1;

  overflow: hidden;
  padding-bottom: 0;
}

.feedCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-3);
  padding: 0 var(--spacing-3);
  margin: 0;
}

.shuffle {
  display: block !important;
  margin: var(--spacing-3) auto;
}
